// page-aadhaarpreview {
    .toolbar-background-md{
        --background: #da107e !important;
    }
    .card-header-md{
        --background: #fba41d;
        color:white;
        text-align: center;
    }
    .toolbar-title-md{
        color: white;
        text-align: center;
    }
    .bar-button-default-md{
        color: white;
    }

    .createicon{
        color: black;
        zoom: 1.5;
    }
    .centerAlign .input-wrapper{
        text-align: center;
    }
    .addressSeg{
        margin-top: 20px;
        font-size: 16px;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
        border-color: #f4f4f4;
        opacity: 1;
        --background: deeppink;
        // font-size: 16px;
        color: white;
        // font-style: bold;
    }
    .segment-md .segment-button{
        color: black;
    }
    .toolbar-md{
        text-align: center;
        color: white;
    }
    .userimg{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        --background: gray;
        text-align: center;
    }
    .aRowClass_1{
        color: #da107e;
        //margin-right: 20px;
    }
    .aRowClass_2{
        //margin-left: 41%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .aRowClass_3{
        //margin-left: 37%;
        margin: 0 auto;
    }
    .footerBTN{
        --background: #fba41d;
    }
    // STATUS BAR
    .statusBar{
        height: 25px;
        --background: #fba41d;
    }
    .statusBar ion-col{
        padding:2px 0px 0px 0px !important;
    }
    .statusBar ion-grid{
        padding-left: 10px !important;
    }

    .buttspace{
        margin-top:4%;
        clear: both !important;
        margin: 0 auto;
    }
    .roundbtn{
        margin-top:20px;
        margin-bottom:20px;
    }

    fieldset{
        border: solid 3px #da107e;
        border-radius: 10px;
        padding: 5px 10px 10px 10px !important;
    }
    fieldset+fieldset{
        margin: 16px 0px 0px 0px;
    }
    legend{
        font-size: 20px;
        border-radius: 5px;
        padding: 0px 5px;
        color: #FFF;
        --background: #fba41d;
        border: solid 2px #da107e;
    }
    p.profile-img{
        margin: 0px !important;
    }
    p.label{
        color: #999;
        font-size: 1.3rem;
        margin: 0px;
    }
    p.fieldName{
font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
        margin: 8px 0px 18px 0px;
    }

// }
