// page-sign-annex-imgs {

ion-content {
    background-color: transparent !important;
}

ion-row ion-col {
    font-size: 18px;
    vertical-align: bottom;
    padding: .75rem;

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imgSizeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: black;
}

.imgSize {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    border-right: 1px solid white;
    width: 50%
}

.content {
    border-radius: 10px;
}

.iconlist ion-icon {
    font-size: 34px;
    margin: auto !important;
    text-align: center !important;
}

.iconpart ion-grid {
    margin-top: 15% !important;
    background-color: black;
}

.imgdelete {
    color: #e93b04;
    text-align: center;
    font-size: 30px;
    position: absolute;
    right: 4%;
    top: -3%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0px 10px;
    border-radius: 20px;
}

.proofModal {
    width: 80%;
    height: 70vh;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 10%;
}

.bgColor {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .proofModal {
        width: 100%;
        height: 90.6vh;
        border-radius: 0px;
        margin-left: 0%;
        margin-top: 0 !important;
    }

    .scroll-content {
        padding: 0px !important;
    }

    .bgColor {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
        margin-top: 0%;
        justify-content: center;
        align-items: center;
    }

    .iconpart ion-grid {
        margin-top: 0% !important;
        background-color: black;
    }

}

@media only screen and (min-width: 700px) {
    .iconpart ion-grid {
        margin-top: 0% !important;
        background-color: black;
    }

    .scroll-content {
        padding: 0px !important;
    }

    .proofModal {
        width: 80%;
        height: 100%;
        border-radius: 5px;
        margin-left: 1%;
        margin-top: 10%;
    }

    .bgColor {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0px;
        margin-top: 0%;
        justify-content: center;
        align-items: center;
    }
}

// }