// page-other-docs {
    .headtitel{
        text-align: center;
    margin: 16px auto !important;
}
form{
    padding: 16px;
}
.errText{
    color: red !important;
    font-size: 14px !important;
}

.custom-popover::part(content) {
    width: auto !important;
    right: 20px !important;
    left: auto !important;
    transform-origin: right top !important;
    max-width: 90% !important;
    white-space: pre-line !important;
  }


ion-title
{
position: absolute !important;
width: 100% !important;
min-height: 56px;
text-align: center !important;
top: 0px;
left: 0px;
z-index: -1;
}
.existPlaceholder{
height:50px;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
position: absolute;
}
.existPlaceholder h2{
color: darkgray;font-weight: bold;text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.statusBar{
height: 25px;
background-color: #fba41d;
}

.statusBar ion-col{
padding:2px 0px 0px 0px !important;
}
.statusBar ion-grid{
padding-left: 10px !important;
}

.existLead{
background-color: #fba41d;
color: #FFFFFF;
}

.coIcon{
text-align: center;
}
.cibilIcons{
color: #da107e;
zoom: 3.0;
}
.list-md {
margin: 0px;
}
.item-md.item-block .item-inner {
padding-right: 0px !important;
}
.item-md{
padding-left: 0px !important;
}
.label-md{
margin: 0px;
}
.card-md{
margin: 10px 0px;
width: calc(100% - 0px);
}
.select-md {
padding: 13px 0px 13px 0px !important;
}
ion-select{
max-width: 100% !important;
width: 96% !important;
overflow: visible !important;
}

.segment02 ion-segment{
width: 100% !important;
display: block !important;
}
.proofPromo.segment-button, .ProofEntity.segment-button, .segment02 .VID.segment-button, .segment02 .Aadhaar.segment-button{
font-size:18px;
color: #ffffff !important;
width: 50% !important;
display: inline-block !important;
background-color:#da107e;
opacity: 1 !important;
}
.segment02 .proofPromo.segment-button.segment-activated, .segment02 .ProofEntity.segment-button.segment-activated, .segment02 .Aadhaar.segment-button.segment-activated, .segment02 .VID.segment-button.segment-activated{
font-size:18px;
color: #ffffff !important;
width: 50% !important;
display: inline-block !important;
font-weight: bold;
background-color:#fba41d;
}
.top10{
margin: 16px 0px 0px 0px !important;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
opacity: 1;
border-color: #ffffff;
border-width: 0 !important;
}

.scroll-content{
padding: 0px !important;
}


// }
