// page-vehicle-valuation {

    .mandatory{
        color: red;
        padding-left: 5px;
    }

    .buttspace{
        margin-top:4%;
        clear: both !important;
        margin: 0 auto;
    }
    .roundbtn{
        margin-top:20px;
        margin-bottom:20px;
    }
    .h4Label{  
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    --background: #dddbd2;
    padding-top: 7px;
    margin-top: 3px;

    }

    .layout{
    display: flex;
    width: 100%;
    margin-top: 15px;
    --background: #da107e;
    padding-left: 17px;
    color:white;
    }

    .box1{
    border-right: 1px solid #fba41d;
    // background: #da107e;
    width: 52%;
    margin: 0px;
    padding: 0px;
    text-align: center !important;
    padding-top: 4px;
    }

    .box1 h6{
        font-size:13px !important;
    }

    .box2{
        width:20%;
        margin-left:10px;
        // background: #da107e;
        padding-top:0px;
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -2px;
    }
    .box2 button{
        color:white;
    }

// }
