
    ion-title{
        position: absolute !important;
        width: 100% !important;
        min-height: 56px;
        text-align: center !important;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    .existPlaceholder{
        height:50px;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        position: absolute;
    }
    .existPlaceholder h2{
        color: darkgray;font-weight: bold;text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .statusBar{
        height: 25px;
        background-color: #fba41d;
    }

    .statusBar ion-col{
        padding:2px 0px 0px 0px !important;
    }
    .statusBar ion-grid{
        padding-left: 10px !important;
    }

    .existLead{
        background-color: #fba41d;
        color: #FFFFFF;
    }

    .coIcon{
        text-align: center;
    }
    .cibilIcons{
        color: #da107e;
        zoom: 2.0;
    }
    .cibilIconsValid{
        background-color: green;
        color: #FFF;
        position: absolute;
        right: 16px;
        top: 0;
        float: right;
        padding: 5px 10px;
        border-radius: 20px;
        }
    .list-md {
    margin: 0px;
}
.item-md.item-block .item-inner {
    padding-right: 0px !important;
}
.item-md{
    padding-left: 0px !important;
}
.label-md{
    margin: 0px;
}
.card-md{
    margin: 10px 0px;
    width: calc(100% - 0px);
}

 .icon-zoom{
     zoom: 2;
 }
 h3.applName{
     font-size: 14px;
     font-weight: bold;
     margin-top: .1em !important;
     padding-left: 8px;
     text-transform: capitalize;
     overflow: hidden;
     text-overflow: ellipsis;
    }
 h4.applAmount{
    font-size: 13px;
    font-weight: bold;
    margin-top: .1em !important;
    padding-left: 8px;
}
h4.applAmount1{
     font-size: 14px;
     font-weight: bold;
     margin-top: .1em !important;
     padding-left: 8px;
 }
p.applLeadNum, p.applLoanType, p.applDate{
    margin-top: .6em;
    padding-left: 8px;
 }
 p.seeAppl{
     padding-right: 20px;
    text-align: right !important;
 }
ion-item-options{
margin: 10px 0px;
}

.list-md[no-lines] .item-block, .list-md[no-lines] ion-item-options, .list-md[no-lines] .item .item-inner {
    border-width: 20px !important;
}
.list-md ion-item-options {
    border-bottom: 1px solid #FFF;
}
.icon-size{
    font-size: 2.6em !important;
}
.submitButton{
    float: right;
    font-size: 200%;
    color: #FFFFFF;
    background-color: #fba41d;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.showSubmit{
    font-size: 40%
}
.wifiIcon{
    margin-left: 20px;
}
.offline{
    color: red;
}
.online{
    color: green;
}


@media screen and (max-width: 480px) {
    .viewStatus {
    font-size: 1.2rem;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: right !important;
    }

h3.applName{
    font-size: 14px;
    font-weight: bold;
    margin-top: .1em !important;
    padding-left: 8px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.2rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
}
h4.applAmount1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: .1em !important;
    padding-left: 8px;
}
h4.applAmount {
    font-size:13px;
    font-weight: bold;
    margin-top: .1em !important;
    padding-left: 8px;
}
.icon-zoom {
    zoom: 1.5;
}
.cibilIcons {
    color: #da107e;
    zoom: 2.0;
}
.submitButton {
    float: right;
    font-size: 170%;
    color: #FFFFFF;
    background-color: #fba41d;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
}
p.seeAppl {
    padding-right: 10px !important;
    text-align: right !important;
}
   .applLoanType {
          white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
    }
}
ion-item{
    border: 1px solid #aaa;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    border-radius: 4px;
}
ion-label{
    margin: 5px 5px !important;
}
