<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>LMS Application</ion-title>
  </ion-toolbar>
  <app-status></app-status>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="checkLMS($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher> -->
  <div class="existPlaceholder">
    <h2>No Data Found!</h2>
  </div>

  <!-- <ion-list lines="none" class="ion-padding" *ngFor="let lmsDetail of lmsDetails;let i=index">
      <ion-item>
        <ion-label>
        <div (click)="passdetails(lmsDetail)">
          <ion-row>
            <ion-col size="1">
              <ion-icon style="color: #DA107E;" name="person" class="icon-zoom"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <h3 class="applName">{{ lmsDetail.name_of_enterprise }}</h3>
              <p class="applLeadNum">{{ lmsDetail.mobile_number }}
                <span class="wifiIcon">
                  <ion-icon class="online" name="wifi" *ngIf="leadStatus === 'online'"></ion-icon>
                  <ion-icon class="offline" name="wifi" *ngIf="leadStatus === 'offline'"></ion-icon>
                </span>
              </p>
            </ion-col>
            <ion-col size="1">
              <p style="color: #DA107E;" class="icon-zoom">₹</p>
            </ion-col>
            <ion-col size="4">
              <h4 class="applAmount">{{ lmsDetail.Loan_amount }}</h4>
              <p class="applDate">{{ lmsDetail.annual_turnover }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1">
              <ion-icon style="color: #DA107E;" name="pin" class="icon-zoom"></ion-icon>
            </ion-col>
            <ion-col size="5">
              <h4 class="applAmount1">{{ lmsDetail.created_by}}</h4>
              <p class="applLoanType">{{ lmsDetail.branch_code }}</p>
            </ion-col>
          </ion-row>
        </div>
        </ion-label>
      </ion-item>
  </ion-list> -->

</ion-content>