<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="online">Existing Leads</span>
      <span *ngIf="!online">Offline Leads</span>
      <span (click)="serachClick()">
        <ion-icon name="search-sharp" style="float:right;"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar *ngIf="showSearch" placeholder="Name, Application No, Date" (ionInput)="filterItems($event)"
    show-clear-button="always" clear-icon="trash-bin">
  </ion-searchbar>
  <div class="existPlaceholder" *ngIf="nouserdata && (items.length == 0)">
    <h2>No Data Found!</h2>
  </div>

  <div class="existPlaceholder" *ngIf="!nouserdata">
    <h2>To add New
      <br />
      <ion-icon name="person-add"></ion-icon> Lead, tap
      <ion-icon name="add"></ion-icon> button
      <br /> at the bottom
    </h2>
  </div>

  <ion-list *ngFor="let item of items;let i=index">
    <ion-item-sliding #slidingItem>
      <ion-item *ngIf="nouserdata" lines="none">
        <!-- <ion-item lines="none"> -->
        <ion-label style="color: black !important;">
          <div>
            <ion-row>
              <ion-col size="1">
                <ion-icon style="color: #DA107E;" name="person" class="icon-zoom"></ion-icon>
              </ion-col>
              <ion-col size="5">
                <h3 class="applName">{{ item.firstname }}</h3>
                <p class="applLeadNum">{{ item.appUniqueId }}
                  <span class="wifiIcon">
                    <ion-icon class="online" name="wifi" *ngIf="leadStatus === 'online'"></ion-icon>
                    <ion-icon class="offline" name="wifi" *ngIf="leadStatus === 'offline'"></ion-icon>
                  </span>
                </p>
              </ion-col>
              <ion-col size="1">
                <p style="color: #DA107E;zoom: 2;">₹</p>
              </ion-col>
              <ion-col size="5">
                <div class="submitButton" (click)="loadGuaranDetails(item)">
                  <ion-icon name="cloud-upload"></ion-icon>
                  <div class="showSubmit">Submit</div>
                </div>
                <h4 class="applAmount">{{ item.loanAmount }}</h4>
                <p class="applDate">{{ item.inputDate }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1">
                <ion-icon style="color: #DA107E;" name="pin" class="icon-zoom"></ion-icon>
              </ion-col>
              <ion-col size="5">
                <h4 class="applAmount1">{{ item.branch }}</h4>
                <p class="applLoanType">{{ item.janaLoanName }}</p>
              </ion-col>
              <ion-col size="6">
                <ion-badge *ngIf="item.janaRefId" class="ekycstatus">
                  Ekyc status
                  <ion-icon style="top: 6px; color: forestgreen !important;" name="checkmark-circle"
                    class="greentik"></ion-icon>
                </ion-badge>
                <div style="position: relative;bottom: -50%;">
                  <p class="seeAppl" *ngIf="!item.expanded" (click)="expandItem(item)">
                    See Application
                    <ion-icon style="color: #DA107E;" name="arrow-down-outline"></ion-icon>
                  </p>
                  <p class="seeAppl" *ngIf="item.expanded" (click)="expandItem(item)">
                    Hide Application
                    <ion-icon style="color: #DA107E;" name="arrow-up-outline"></ion-icon>
                  </p>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <app-expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            <div class="expand-card">
              <ion-row class="cibil-icons-container">
                <ion-col class="coIcon" (click)="cibilreport(item)">
                  <ion-icon name="speedometer" class="cibilIcons"></ion-icon>
                  <p class="cibilText">HIMARK
                    <br>CHECK
                  </p>
                </ion-col>
                <ion-col class="coIcon" (click)="viewDetails(item)">
                  <ion-icon name="document" class="cibilIcons"></ion-icon>
                  <p class="cibilText">DOCUMENT<br />UPLOAD
                  </p>
                </ion-col>
                <ion-col class="coIcon" (click)="CASA(item)">
                  <ion-icon name="card" class="cibilIcons"></ion-icon>
                  <p class="cibilText">CASA
                    <br>DETAILS
                  </p>
                </ion-col>
                <ion-col class="coIcon" (click)="referenceDetails(item)">
                  <ion-icon name="people" class="cibilIcons"></ion-icon>
                  <p class="cibilText">REFERENCE
                    <br>DETAILS
                  </p>
                </ion-col>
              </ion-row>
            </div>
          </app-expandable>
        </ion-label>
      </ion-item>

      <ion-item-options side="start" *ngIf="!item.expanded">
        <ion-button (click)="passdetails(item)" style="height: 100%;margin-top: -10px;">
          <ion-icon name="create" class="icon-size"></ion-icon>Edit
        </ion-button>
      </ion-item-options>
      <ion-item-options side="end" *ngIf="!item.expanded">
        <ion-button color="danger" (click)="removeApplicant(item)" style="height: 100%;margin-top: -10px;">
          <ion-icon name="trash" class="icon-size"></ion-icon>Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab class="ionfabicons" vertical="bottom" horizontal="end" slot="fixed" (click)="newapplication()">
    <ion-fab-button style="--background: #FBA41D;">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="ionfabicons" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: #FBA41D;">
      <ion-icon name="people"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start" (click)="newapplication()">
      <ion-fab-button style="--background: #FBA41D;">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button style="--background: #FBA41D;" (click)="submittedApplicant()">
        <ion-icon name="document-text"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>