.statusBar{
    background-color: #fba41d;
    font-size: 13px;
    padding: 0px;
    color: black;

    ion-icon{
        font-size: 1.1rem;
        font-size: 600;
        margin: -4px 0px;
    }

    span {
        margin-left: 5px;
    }
}
