<ion-header>
  <ion-toolbar hideBackButton="true">
    <ion-title>SFDC Details
      <span>
        <ion-icon class="closeIcon" name="close-circle" (click)="closeModal()"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="container">

    <div *ngIf="sfdcData && sfdcData.custURN">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="sfdcIcon" name="information-circle"></ion-icon>
        </ion-col>
        <ion-col size="5" class="content">Lead Customer URN</ion-col>
        <ion-col size="6" class="innerColumn"><span class="innerText">{{sfdcData.custURN}}</span></ion-col>
      </ion-row>
      <hr>
    </div>

    <div *ngIf="sfdcData && sfdcData.FirstName">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="sfdcIcon" name="person"></ion-icon>
        </ion-col>
        <ion-col size="5" class="content">First Name</ion-col>
        <ion-col size="6" class="innerColumn"><span class="innerText">{{sfdcData.FirstName}}</span></ion-col>
      </ion-row>
      <hr>
    </div>

    <div *ngIf="sfdcData && sfdcData.DOB">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="sfdcIcon" name="calendar"></ion-icon>
        </ion-col>
        <ion-col size="5" class="content">Date of Birth</ion-col>
        <ion-col size="6" class="innerColumn"><span class="innerText">{{sfdcData.DOB}}</span></ion-col>
      </ion-row>
      <hr>
    </div>

    <div *ngIf="sfdcData && sfdcData.MobNumber">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="sfdcIcon" name="call"></ion-icon>
        </ion-col>
        <ion-col size="5" class="content">Mobile Number</ion-col>
        <ion-col size="6" class="innerColumn"><span class="innerText">{{sfdcData.MobNumber}}</span></ion-col>
      </ion-row>
      <hr>
    </div>

    <div *ngIf="sfdcData && sfdcData.Email_ID">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="sfdcIcon" name="mail"></ion-icon>
        </ion-col>
        <ion-col size="5" class="content">Email Id</ion-col>
        <ion-col size="6" class="innerColumn"><span class="innerText">{{sfdcData.Email_ID}}</span></ion-col>
      </ion-row>
      <hr>
    </div>

    <div *ngIf="sfdcData && sfdcData.customerID">
      <ion-row>
        <ion-col size="1">
          <ion-icon class="sfdcIcon" name="paper"></ion-icon>
        </ion-col>
        <ion-col size="5" class="content">Customer Id</ion-col>
        <ion-col size="6" class="innerColumn"><span class="innerText">{{sfdcData.customerID}}</span></ion-col>
      </ion-row>
      <hr>
    </div>

  </div>
</ion-content>
