// page-preview-modal {
    ion-content{
    --background: transparent !important;
}

ion-row ion-col{
    font-size: 18px;
 vertical-align: bottom;
 padding: .75rem;

 color:white;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content{
    border-radius: 10px;
}

.iconlist ion-icon{
    font-size:34px;
    margin-left:35%;
}
.iconpart ion-grid {
    margin-top:15% !important;
    --background:black;
}

    .imgdelete{
        color: #e93b04;
        text-align: center;
        font-size: 30px;
        position: absolute;
        right: 4%;
        top: -3%;
        --background: rgba(255, 255, 255, 0.4);
        padding: 0px 10px;
        border-radius: 20px;
        }

.proofModal{
    width:80%;height:auto;border-radius:5px;margin-left:1%;margin-top: 10%;
}

// }
