<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="header-content">
          <img src="../assets/imgs/userpro.png" alt="">
          <ion-label>
            <h2 style="text-align: center;">{{fname}}</h2>
            <h4>{{myDate | date: 'short'}}</h4>
          </ion-label>
        </div>

        <ion-card class="mainCard">
          <ion-list class="menu-items" lines="none" *ngFor="let page of pages">
            <ion-menu-toggle>
              <ion-item [routerLink]="page.component" routerLinkActive="active" routerDirection="root"
                skipLocationChange replaceUrl (click)="openPage(page)">
                <ion-icon [name]="page.icon" slot="start"></ion-icon>
                {{page.title}}
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-card>
        <div class="logOut">
          <ion-button shape="round" (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </div>
        <div class="version">
          App-Version 0.0.1
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>