<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Service Requested Details</ion-title>
  </ion-toolbar>
  <app-status></app-status>
</ion-header> -->


<div style="width: 100vw;">
  <form [formGroup]="servDetails" (ngSubmit)="servDetailsSave(servDetails.value)">

    <ion-item class="field" [disabled]="submitDisable">
      <ion-label position="floating">Account Type
        <span class="mandatory">*</span>
      </ion-label>
      <ion-select interface="popover" [interfaceOptions]="customPopoverOptions" formControlName="acType">
        <ion-select-option *ngFor="let ac of accountType;let i=index" [value]="ac.CODE">{{ ac.NAME }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="!servDetails.controls.acType.valid && (servDetails.controls.acType.touched)">
      <span class="errText">Must Select Account Type.</span>
    </span>

    <ion-item class="field" [disabled]="submitDisable">
      <ion-label position="floating">Mode of Operation
        <span class="mandatory">*</span>
      </ion-label>
      <ion-select interface="popover" [interfaceOptions]="customPopoverOptions" formControlName="modeofoper">
        <ion-select-option *ngFor="let mo of modeOperation;let i=index" [value]="mo.CODE">{{ mo.NAME }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="!servDetails.controls.modeofoper.valid && (servDetails.controls.modeofoper.touched)">
      <span class="errText">Must Select Mode of Operation.</span>
    </span>

    <ion-item class="field" [disabled]="submitDisable">
      <ion-label position="floating">Operating Instructions
        <span class="mandatory">*</span>
      </ion-label>
      <ion-select interface="popover" [interfaceOptions]="customPopoverOptions" formControlName="operaInst">
        <ion-select-option *ngFor="let opt of OperationInstruction;let i=index" [value]="opt.CODE">{{ opt.NAME }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="!servDetails.controls.operaInst.valid && (servDetails.controls.operaInst.touched)">
      <span class="errText">Must Select Operating Instructions.</span>
    </span>

    <ion-item class="field" [disabled]="true">
      <ion-label position="floating">Authorized Signatory Promoter
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="authSign"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <div class="buttspace roundbtn" text-center>
          <ion-button class="proceedbtn" shape="round" type="submit"
            [disabled]="(servDetails.invalid) || submitDisable">
            Save
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <div class="fabBadge">{{annexImglen}}</div>
    <ion-fab-button style="--background: #FBA41D;" (click)="showpicmaodal('annexure')">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div class="fabBadge">{{signImglen}}</div>
    <ion-fab-button style="--background: #FBA41D;" (click)="showpicmaodal('signature')">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</div>