.scroll-content {
    padding: 0px 16px !important;
}
.buttonGroup{
width: 100%;
display: block !important; 
}
.buttonGroup button{
display: inline-block !important;
}

.buttons {
--background: #fba41d;
}

.savebutton {
--background: #da107e;
}

.location{
    display: flex;
    justify-content: center;
}