<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="finger-print"></ion-icon> Aadhar Based OTP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="sigshow">
    <ion-list>
      <ion-item-group>
        <ion-item-divider class="ion-text-center" color="warning" sticky
          ><b>EKYC - Disclosure and information</b></ion-item-divider
        >
        <ion-item>
          <p class="stylepara">
            I, the holder of Aadhaar number XXXXXXXXXXX, hereby give my consent
            to Janalakshmi Financial Services Pvt. Ltd. to obtain my Aadhaar
            number, Name and Fingerprint/Iris for authentication with UIDAI,
            Janalakshmi Financial Services Pvt. Ltd. has informed me that my
            identity information would be only be used for Authentication and
            also informed that my biometrics will not be stored/ shared and will
            be submitted to CIDR only for the purpose of authentication.
          </p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider class="ion-text-center" color="warning" sticky
          ><b>CB Consent - Disclosure and information</b></ion-item-divider
        >
        <ol style="white-space: normal; margin-left: -16px">
          <li>
            The Customer hearby authorises and permits JFS and any officer of
            JFS to disclose any customer information in relation to the Customer
            or any other information whatsover in relation to the Customer
            and/or any agreement or document entered into by the Customer or any
            other person in relation to any Facilities as JFS shall consider
            appropriate for any such commercial, banking, administrative,
            funding or business purposes as JFS thinks fit to:-
            <ol type="a" style="margin-left: -16px">
              <li>any affiliate of JFS; and</li>
              <li>
                any other person:
                <ol type="i" style="margin-left: -16px">
                  <li>
                    to (or through) whom JFS assigns or transfers (or may
                    potentially assign or transfer) all or any of its rights and
                    obligations under the Facilities;
                  </li>
                  <li>
                    any rating agency, insurer or insurance broker of, or direct
                    or indirect provider of credit protection to JFS or its
                    affiliates;
                  </li>
                  <li>
                    any court or tribunal or regulatory, supervisory, statutory,
                    governmental or quasi-governmental authority with
                    jurisdiction over JFS or its affiliates;
                  </li>
                  <li>
                    pursuant to the processing or management of data relating to
                    any facility or proposed facility or the Customer;
                  </li>
                  <li>
                    to whom such disclosure is considered by JFS to be in JFS's
                    interests.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            The Customer hearby agrees as a pre-condition of the Facilities
            given to the Customer by JFS that in case the Customer cummits
            default in the rpayment of Facilities or in the repayment of
            interest thereon or any of the agreed instalment of a Facility on
            due date/s, JFS and /or the Reserve Bank of India will have an
            un-qualified right to disclose or publish the name/ the name/s
            (along with photograph and any other information) of the Customer/s
            or the name/s (along with photograph and any other information) of
            the guarantor/s as defaulter/s in such manner and through such
            medium as JFS or Reserve Bank of India in their absolute discretion
            may think fit.
          </li>
          <li>
            The Customer hearby confirms and accepts that as pre-condition,
            relating to the grant of the said Facilities to the Customer, JFS
            requires the Customer's consent for the disclosure by JFS of
            information and data relating to the Customer of the Facility
            availed/to be availed by the Customer, obligations assumed/to be
            assumed by the Customer, in relation thereto and default, if any,
            committed by the Customer, in discharge thereof. Accordingly, the
            Customer hereby agrees and gives consent for the disclosure by JFS
            of all or any such:
            <ol type="a" style="margin-left: -16px">
              <li>information and data relating to the Customer;</li>
              <li>
                the information or data relating to any credit facility availed
                of / to be availed by the Customer; and
              </li>
              <li>
                default, if any, committed by the Customer, in discharge of the
                Customer's such obliqation;
              </li>
              <li>
                as JFS may deem appropriate and necessary, to disclose and
                furnish to Credit Information Bureau (India) Limited and any
                other agency authorized in this behalf by Reserve Bank of India.
              </li>
              <li>
                The Customer declares that the information and data furnished by
                the Customer to JFS is true and correct.
              </li>
            </ol>
          </li>
          <li>
            The Customer undertakes that:
            <ol type="a" style="margin-left: -16px">
              <li>
                the Credit Information Bureau ( India) Limitted and any other
                agency so authorized may use, process the said information and
                data disclosed by JFS in the manner as deemed fit by them; and
              </li>
              <li>
                the Credit Information Bureau ( India) Limitted and any other
                agency so authorized may furnish for consideration, the proposed
                information and data of products thereof prepared by them, to
                banks/financial institutions and other credit garantors or
                registered users, as may be specified by the Reserve Bank of
                India in this behalf.
              </li>
            </ol>
          </li>
          <li>
            This Clause is not, and shall not be deemed to constitute, an
            express or implied agreement by JFS with the Customer for a higher
            degree of confidentiality than that prescribed under Banking
            Regulation Act, 1949 or extant regulations and guidelines prescribed
            from time to time. The rights conferred on JFS in this Clauses shall
            be in addition to and shall not be in any way prejudiced or affected
            by any other agreement, expressed or implied, between the Customer
            and JFS in relation to any Customer information nor shall any such
            other agreement be in any way prejudiced or affected by this Clause.
          </li>
        </ol>
      </ion-item-group>
    </ion-list>
  </div>

  <div *ngIf="bioEnable">
    <p class="takepic">
      <img src="../../../assets/imgs/JFS-J.png" class="userimg" />
    </p>
    <h3 class="ion-text-center">AADHAAR BASED eKYC SYSTEM</h3>
    <!-- <p class="ion-text-center">
      <b>Aadhaar Biometric Check</b>
    </p> -->
    <!-- <p class="ion-text-center">
      <b>Select the Finger Type and Perform Biometric Check </b>
    </p> -->
    <p class="ion-text-center">
      <b>Aadhaar Number: XXXX XXXX X{{hideNum}}</b>
    </p>
    <div style="text-align: center; margin: auto">
      <img
        style="max-width: 75% !important"
        src="../../../assets/imgs/Aadhar-Bio.png"
      />
    </div>
    <div>
      <ion-item class="field">
        <ion-label position="floating"
          >Biometric Device
          <span class="mandatory">*</span>
        </ion-label>
        <ion-select
          interface="popover"
          [interfaceOptions]="customPopoverOptions"
          (ionChange)="bioDeviceSelected($event)"
        >
          <ion-select-option
            *ngFor="let bio of bio_master;let i=index"
            [value]="bio.code"
            >{{ bio.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <ng-container *ngIf="otpEnable">
    <div class="phoneimg">
      <ion-icon name="phone-portrait"></ion-icon>
    </div>
    <div class="otpveri">OTP Verification</div>

    <ng-container *ngIf="!otpCheckEnable">
      <div class="otpmsg">
        We will send you OTP to the Mobile Number Attached to this AADHAR
      </div>
      <!-- <div class="label">Enter Mobile Number</div> -->
      <!-- <ion-item class="mobiletext">
        <ion-input type="tel" maxLength="10" [(ngModel)]="aadharNum" readonly>
        </ion-input>
      </ion-item> -->
    </ng-container>

    <ng-container *ngIf="otpCheckEnable">
      <div class="otpmsg">
        Enter OTP send to the Mobile Number linked to this AADHAR
      </div>
    </ng-container>

    <ion-row *ngIf="otpCheckEnable">
      <ion-col class="otpdiv">
        <ion-input
          class="x"
          type="tel"
          #otp1
          required="true"
          maxLength="1"
          [(ngModel)]="OTP.first"
          (keyup)="otpController($event,otp2,'')"
        >
        </ion-input>
        <ion-input
          class="x"
          type="tel"
          #otp2
          required="true"
          maxLength="1"
          [(ngModel)]="OTP.second"
          (keyup)="otpController($event,otp3,otp1)"
        >
        </ion-input>
        <ion-input
          class="x"
          type="tel"
          #otp3
          required="true"
          maxLength="1"
          [(ngModel)]="OTP.third"
          (keyup)="otpController($event,otp4,otp2)"
        >
        </ion-input>

        <ion-input
          class="x"
          type="tel"
          #otp4
          required="true"
          maxLength="1"
          [(ngModel)]="OTP.forth"
          (keyup)="otpController($event,otp5,otp3)"
        >
        </ion-input>

        <ion-input
          class="x"
          type="tel"
          #otp5
          required="true"
          maxLength="1"
          [(ngModel)]="OTP.fifth"
          (keyup)="otpController($event,otp6,otp4)"
        >
        </ion-input>

        <ion-input
          class="x"
          type="tel"
          #otp6
          required="true"
          maxLength="1"
          [(ngModel)]="OTP.sixth"
          (keyup)="otpController($event,'',otp5)"
        >
        </ion-input>
      </ion-col>
    </ion-row>

    <div class="btnsubmit">
      <ion-button
        *ngIf="!otpCheckEnable"
        color="warning"
        size="small"
        shape="round"
        (click)="sendOtp()"
        >GET OTP</ion-button
      >
      <ion-button
        *ngIf="otpCheckEnable"
        color="warning"
        size="small"
        shape="round"
        (click)="resendOtp()"
        >RESEND OTP</ion-button
      >
      <ion-button
        *ngIf="otpCheckEnable"
        color="warning"
        size="small"
        shape="round"
        (click)="checkOTP(OTP)"
        >VERIFY & PROCEED</ion-button
      >
    </div>
  </ng-container>
</ion-content>

<ion-footer>
  <div class="buttspace roundbtn ion-text-center" *ngIf="sigshow">
    <ion-button shape="round" (click)="showfp()" color="warning"
      >I Agree</ion-button
    >
  </div>
  <div class="buttspace roundbtn ion-text-center" *ngIf="bioEnable">
    <ion-button shape="round" (click)="fingerPrintScan()" color="warning"
      >SCAN</ion-button
    >
    <!-- <ion-button shape="round" (click)="fingerPrintScanMantra()" color="warning">SCAN</ion-button> -->
  </div>
</ion-footer>
