<!--
  Generated template for the ScoreCardRunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-navbar>
    <ion-title>scoreModal</ion-title>
  </ion-navbar> -->
  <ion-toolbar hideBackButton="true">
    <ion-title>
      <span>SCORE CARD RUN</span>
      <span>
        <ion-icon name="close-circle" style="float:right;" (click)="closeModal()"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="scoreCardRun" (ngSubmit)="scoreCardRunSave(scoreCardRun.value)">
    <ion-item class="field">
      <ion-label position="floating">Eligible Amount
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="eligibleAmount" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.eligibleAmount.invalid && (scoreCardRun.controls.eligibleAmount.touched)">
      <span *ngIf="scoreCardRun.controls.eligibleAmount.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.eligibleAmount.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Applied Amount
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="appliedAmount"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.appliedAmount.invalid && (scoreCardRun.controls.appliedAmount.touched)">
      <span *ngIf="scoreCardRun.controls.appliedAmount.errors.required">
        <span class="errText">Must enter Applied Amount.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.appliedAmount.errors.pattern">
        <span class="errText">Enter Applied Amount.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Tenure(Months)
        <span class="mandatory">*</span>
      </ion-label>
      <ion-select interface="popover" [interfaceOptions]="customPopoverOptions" formControlName="tenure" [disabled]="submitDisable">
        <ion-select-option *ngFor="let yn of dummy_master;let i=index" [value]="yn.code">{{ yn.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.tenure.invalid && (scoreCardRun.controls.tenure.touched)">
      <span *ngIf="scoreCardRun.controls.tenure.errors.required">
        <span class="errText">Must Select Tenure.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Rate Of Interest
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="roi" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.roi.invalid && (scoreCardRun.controls.roi.touched)">
      <span *ngIf="scoreCardRun.controls.roi.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.roi.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Margin Money
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="marginMoney"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.marginMoney.invalid && (scoreCardRun.controls.marginMoney.touched)">
      <span *ngIf="scoreCardRun.controls.marginMoney.errors.required">
        <span class="errText">Must enter Margin Money.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.marginMoney.errors.pattern">
        <span class="errText">Enter Margin Money.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Processing Fee
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="processFee" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.processFee.invalid && (scoreCardRun.controls.processFee.touched)">
      <span *ngIf="scoreCardRun.controls.processFee.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.processFee.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Stamp Duty
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="stampDuty" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.stampDuty.invalid && (scoreCardRun.controls.stampDuty.touched)">
      <span *ngIf="scoreCardRun.controls.stampDuty.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.stampDuty.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">NACH Charge
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="nachCharge" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.nachCharge.invalid && (scoreCardRun.controls.nachCharge.touched)">
      <span *ngIf="scoreCardRun.controls.nachCharge.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.nachCharge.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">PDD Charge
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="pddCharge" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.pddCharge.invalid && (scoreCardRun.controls.pddCharge.touched)">
      <span *ngIf="scoreCardRun.controls.pddCharge.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.pddCharge.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Other Charges
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="otherCharge" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.otherCharge.invalid && (scoreCardRun.controls.otherCharge.touched)">
      <span *ngIf="scoreCardRun.controls.otherCharge.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.otherCharge.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Insurance Premium
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="insPremium" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.insPremium.invalid && (scoreCardRun.controls.insPremium.touched)">
      <span *ngIf="scoreCardRun.controls.insPremium.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.insPremium.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Pre EMI
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="preEmi" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.preEmi.invalid && (scoreCardRun.controls.preEmi.touched)">
      <span *ngIf="scoreCardRun.controls.preEmi.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.preEmi.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Advance EMI
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="advanceEmi" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.advanceEmi.invalid && (scoreCardRun.controls.advanceEmi.touched)">
      <span *ngIf="scoreCardRun.controls.advanceEmi.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.advanceEmi.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">EMI
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="emi" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.emi.invalid && (scoreCardRun.controls.emi.touched)">
      <span *ngIf="scoreCardRun.controls.emi.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.emi.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">EMI Mode
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="emiMode" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.emiMode.invalid && (scoreCardRun.controls.emiMode.touched)">
      <span *ngIf="scoreCardRun.controls.emiMode.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.emiMode.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Total Down Payment
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="totalDownPay" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.totalDownPay.invalid && (scoreCardRun.controls.totalDownPay.touched)">
      <span *ngIf="scoreCardRun.controls.totalDownPay.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.totalDownPay.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-item class="field">
      <ion-label position="floating">Disbursal Amount
        <span class="mandatory">*</span>
      </ion-label>
      <ion-input type="text" formControlName="dbAmount" [disabled]="true"></ion-input>
    </ion-item>
    <div *ngIf="scoreCardRun.controls.dbAmount.invalid && (scoreCardRun.controls.dbAmount.touched)">
      <span *ngIf="scoreCardRun.controls.dbAmount.errors.required">
        <span class="errText">Must enter Dealer Code.</span>
      </span>
      <span *ngIf="scoreCardRun.controls.dbAmount.errors.pattern">
        <span class="errText">Enter Dealer Code.</span>
      </span>
    </div>

    <ion-row>
      <ion-col>
        <div class="buttspace roundbtn" text-center>
          <ion-button class="proceedbtn" shape="round" type="submit" [disabled]="scoreCardRun.invalid">
            SUBMIT
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
