<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>HiMark Consent</ion-title>
  </ion-toolbar>
  <app-status></app-status>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-group>
      <ion-item-divider style="color: white;--background: #FBA41D;" sticky>
        <div style="width: 100%;text-align:center;">
          <b>CIBIL - Disclosure and information</b>
        </div>
      </ion-item-divider>
      <ion-item>
        <p class="stylepara">I, hereby give my consent to Jana Small Finance Bank to obtain my CIBIL Score.</p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider style="color: white;--background: #FBA41D;" sticky>
        <div style="width: 100%;text-align:center;">
          <b>CB Consent - Disclosure and information</b>
        </div>
      </ion-item-divider>
      <ol style="white-space: normal; margin-left: -16px;">
        <li>The Customer hearby authorises and permits JSFB and any officer of JSFB to disclose any customer information
          in relation
          to the Customer or any other information whatsover in relation to the Customer and/or any agreement or
          document
          entered into by the Customer or any other person in relation to any Facilities as JSFB shall consider
          appropriate
          for any such commercial, banking, administrative, funding or business purposes as JSFB thinks fit to:-
          <ol type="a" style="margin-left: -16px;">
            <li>any affiliate of JSFB; and</li>
            <li>any other person:
              <ol type="i" style="margin-left: -16px;">
                <li>to (or through) whom JSFB assigns or transfers (or may potentially assign or transfer) all or any of
                  its
                  rights and obligations under the Facilities;</li>
                <li>any rating agency, insurer or insurance broker of, or direct or indirect provider of credit
                  protection to
                  JSFB or its affiliates;</li>
                <li>any court or tribunal or regulatory, supervisory, statutory, governmental or quasi-governmental
                  authority
                  with jurisdiction over JSFB or its affiliates;</li>
                <li>pursuant to the processing or management of data relating to any facility or proposed facility or
                  the Customer;</li>
                <li>to whom such disclosure is considered by JSFB to be in JSFB's interests.</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>The Customer hearby agrees as a pre-condition of the Facilities given to the Customer by JSFB that in case
          the Customer
          cummits default in the rpayment of Facilities or in the repayment of interest thereon or any of the agreed
          instalment
          of a Facility on due date/s, JSFB and /or the Reserve Bank of India will have an un-qualified right to
          disclose
          or publish the name/ the name/s (along with photograph and any other information) of the Customer/s or the
          name/s
          (along with photograph and any other information) of the guarantor/s as defaulter/s in such manner and through
          such medium as JSFB or Reserve Bank of India in their absolute discretion may think fit.</li>
        <li>The Customer hearby confirms and accepts that as pre-condition, relating to the grant of the said Facilities
          to the
          Customer, JSFB requires the Customer's consent for the disclosure by JSFB of information and data relating to
          the
          Customer of the Facility availed/to be availed by the Customer, obligations assumed/to be assumed by the
          Customer,
          in relation thereto and default, if any, committed by the Customer, in discharge thereof. Accordingly, the
          Customer
          hereby agrees and gives consent for the disclosure by JSFB of all or any such:
          <ol type="a" style="margin-left: -16px;">
            <li>information and data relating to the Customer;</li>
            <li>the information or data relating to any credit facility availed of / to be availed by the Customer; and
            </li>
            <li>default, if any, committed by the Customer, in discharge of the Customer's such obliqation;</li>
            <li>as JSFB may deem appropriate and necessary, to disclose and furnish to Credit Information Bureau (India)
              Limited
              and any other agency authorized in this behalf by Reserve Bank of India.</li>
            <li>The Customer declares that the information and data furnished by the Customer to JSFB is true and
              correct.</li>
          </ol>
        </li>
        <li>The Customer undertakes that:
          <ol type="a" style="margin-left: -16px;">
            <li>the Credit Information Bureau (India) Limitted and any other agency so authorized may use, process the
              said
              information and data disclosed by JSFB in the manner as deemed fit by them; and</li>
            <li>the Credit Information Bureau (India) Limitted and any other agency so authorized may furnish for
              consideration,
              the proposed information and data of products thereof prepared by them, to banks/financial institutions
              and
              other credit garantors or registered users, as may be specified by the Reserve Bank of India in this
              behalf.</li>
          </ol>
        </li>
        <li>This Clause is not, and shall not be deemed to constitute, an express or implied agreement by JSFB with the
          Customer
          for a higher degree of confidentiality than that prescribed under Banking Regulation Act, 1949 or extant
          regulations
          and guidelines prescribed from time to time. The rights conferred on JSFB in this Clauses shall be in addition
          to and shall not be in any way prejudiced or affected by any other agreement, expressed or implied, between
          the
          Customer and JSFB in relation to any Customer information nor shall any such other agreement be in any way
          prejudiced
          or affected by this Clause.</li>
      </ol>
    </ion-item-group>
  </ion-list>


  <ion-card *ngIf="checkOTP">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Please Enter your OTP</ion-label>
          <ion-input type="tel" [(ngModel)]="enteredOTP"></ion-input>
          <!-- <span ion-button item-right clear class="getOtp" (click)="sendSms()" *ngIf="otpCount > 0">{{otpValue}}</span> -->
          <ion-button fill="clear" slot="end" class="getOtp" (click)="sendSms()" *ngIf="otpCount > 0">{{otpValue}}
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <div class="buttspace roundbtn">
          <ion-button class="proceedbtn" shape="round" (click)="sendSms()" *ngIf="otpCount == 0">
            {{otpValue}}
          </ion-button>
          <ion-button class="proceedbtn" shape="round" (click)="verifyOTP(enteredOTP)" *ngIf="otpCount > 0">
            Verify
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row *ngIf="!checkOTP">
    <ion-col style="text-align:center">
      <div class="buttspace roundbtn">
        <ion-button class="proceedbtn" shape="round" (click)="sendSms()">
          {{otpValue}}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>